.tooltip-zxx {
      position: absolute;
      background: #AAC107;
      color: black;
      border-radius: 3px;
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
      width: 200px;
      padding: 10px;
      font-size: 1rem;
      padding: .5em 1em;
      word-break: normal;
  }
  .tooltip-zxx > .tooltip-arrow-zxx {
    width: 0;
    height: 0;
    position: absolute;
    left:-10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent  #AAC107 transparent transparent;
  }
  
